-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."ejercicios" (
    "id" SERIAL NOT NULL,
    "pauta_id" INTEGER,
    "nombre" VARCHAR(255) NOT NULL,
    "series_repeticiones" VARCHAR(255),
    "cargas_kg" TEXT,
    "observaciones" TEXT,
    "video_url" TEXT,
    "orden" INTEGER DEFAULT 0,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ejercicios_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."pautas" (
    "id" SERIAL NOT NULL,
    "titulo" VARCHAR(255) NOT NULL,
    "mes" VARCHAR(50) NOT NULL,
    "anio" INTEGER NOT NULL,
    "descripcion" TEXT,
    "calentamiento" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pautas_pkey" PRIMARY KEY ("id")
);

-- AddForeignKey
ALTER TABLE "public"."ejercicios" ADD CONSTRAINT "ejercicios_pauta_id_fkey" FOREIGN KEY ("pauta_id") REFERENCES "public"."pautas"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

