# ============================================
# Variables de entorno para Docker Compose
# COPIA este archivo como .env y cambia los valores
# ============================================

# PostgreSQL
DB_USER=postgres
DB_PASSWORD=GymPr0d_S3cur3!2026
DB_DATABASE=pautas_entrenamiento

# JWT — Cambiar por un secreto largo y aleatorio
JWT_SECRET=xK9$mP2vL7wQ4nR8tY1uZ5cF3bH6jA0sDrEgWiOaN
